python-dotenv
pandas
numpy
matplotlib
scikit-learn
seaborn
certifi
pymongo
pymongo[srv]==3.12
pyaml
mlflow==2.22.1
dagshub
fastapi
uvicorn
python-multipart
tldextract  
bs4
python-whois
dnspython
beautifulsoup4
# -e .